
<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeAllNavette- by IK </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    @*<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">*@


    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/css/icomoon.css")
    @Styles.Render("~/Content/css/flaticon.css")
    @Styles.Render("~/Content/css/bootstrap-datepicker.css")
    @Styles.Render("~/Content/css/ionicons.min.css")
    @Styles.Render("~/Content/css/aos.css")
    @Styles.Render("~/Content/css/magnific-popup.css")
    @Styles.Render("~/Content/css/owl.theme.default.min.css")
    @Styles.Render("~/Content/css/owl.carousel.min.css")
    @Styles.Render("~/Content/css/animate.css")
    @Styles.Render("~/Content/css/open-iconic-bootstrap.min.css")
    @Styles.Render("~/fonts/")


</head>



<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","Home")">WE<span>ALL NAV</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <a href="@Url.Action("Index","LoginClient")" class="nav-link">Home</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("About","LoginClient")" class="nav-link">About</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("Service","LoginClient")" class="nav-link">Services</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("Societes","LoginClient")" class="nav-link">Compagny</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("AutoCars","LoginClient")" class="nav-link">AutoCars</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("Index","Demande_Navette_Clt")" class="nav-link">Create Navette</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("Navettes","LoginClient")" class="nav-link">Navette</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("Line_Offre","LoginClient")" class="nav-link">Offre disponible</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("Contact","LoginClient")" class="nav-link">Contact</a></li>
                    <li class="nav-item active"> <a href="@Url.Action("Index","Home")" class="nav-link">log Out</a></li>

                </ul>

            </div>
        </div>
    </nav>

    @RenderBody()
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">We<span>ALLNav</span></a></h2>
                        <p>We ALL Can Shuttle Any Car We Want.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class=" "><a href="#"><span class="p-md-4 img  justify-content-center align-items-center" style="background-image: url(../../images/twitter.png);"></span></a></li>
                            <li class=" "><a href="#"><span class="p-md-4  img  d-flex justify-content-center align-items-center" style="background-image: url(../../images/facebook.png);"></span></a></li>
                            <li class=" "><a href="https://instagram.com/kawtar_itou?utm_medium=copy_link"><span class="p-md-4  img d-flex justify-content-center align-items-center" style="background-image: url(../../images/instagram.png);"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Services</a></li>
                            <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Customer Support</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQ</a></li>
                            <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                            <li><a href="#" class="py-2 d-block">How it works</a></li>
                            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md" style="width:200px">
                    <div class="ftco-footer-widget mb-8">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li>
                                    <span class="text"> </span>  <span class="p-md-2 img  " style="background-image: url(../../images/map.png)" ;></span>
                                    <span class="text">         27 Agdal, Rabat, Morroco</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="text">
                                        </span><span class="p-md-2 img  " style="background-image: url(../../images/phone.png);"></span>
                                        <span class="text">        +212 6 42 92 07 90 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="text">
                                        </span><span class="p-md-2 img  " style="background-image: url(../../images/mail.png); "></span>
                                        <span class="text">                    kawtaritoujane@gmail.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with by <a href="https://colorlib.com" target="_blank">  WeAllNav</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>




    @Scripts.Render("~/Scripts/js/main.js")
    @Scripts.Render("~/Scripts/js/google-map.j")
    @Scripts.Render("~/Scripts/js/scrollax.min.js")
    @Scripts.Render("~/Scripts/js/jquery.timepicker.min.js")
    @Scripts.Render("~/Scripts/js/bootstrap-datepicker.js")
    @Scripts.Render("~/Scripts/js/jquery.animateNumber.min.js")
    @Scripts.Render("~/Scripts/js/aos.js")
    @Scripts.Render("~/Scripts/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Scripts/js/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/js/jquery.stellar.min.js")
    @Scripts.Render("~/Scripts/js/jquery.waypoints.min.js")
    @Scripts.Render("~/Scripts/js/jquery.easing.1.3.js")
    @Scripts.Render("~/Scripts/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/js/popper.min.js")
    @Scripts.Render("~/Scripts/js/jquery-migrate-3.0.1.min.js")
    @Scripts.Render("~/Scripts/js/jquery.min.js")



</body>
</html>
