@model WeALLNav.Models.Line_Demande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Line_Demande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nbr_Demande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nbr_Demande)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Demande_Navette_Clt.Ville_Depart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demande_Navette_Clt.Ville_Depart)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_line_Cmd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
